.search{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.searchBar{
    width: 80vw;
    margin: 0 auto ;
}
.placeholder{
    font-size: large;
}
.studentList{
    /* background-color: orange; */
    width: 100vw;
    height: 100vh;
}