.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.title{
  font-size: xx-large;
}

/* Input.input{
  width: 80%;
  background-color: green;
} */

/* .FormGroup{
  background-color: green; 
} */