/* MessTable.css */

/* Set maximum width and center the table horizontally */
.TableContainer {
    max-width: 80%;
    margin: 0 auto; /* Center the table horizontally */
    background-color: #dfe1e4eb; /* Light gray background */
    padding: 0; /* Remove padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
  }
  
  /* Remove margin and padding from the table */
  .table {
    margin: 0;
    padding: 0;
  }
  
  /* Style the table headers */
  th {
    background-color: #4b35a5; /* Dark purple background */
    color: #fff; /* White text */
    text-align: center;
    padding: 0.8rem; /* Add padding to the header cells */
  }
  
  /* Style the table rows alternately */
  tbody tr:nth-child(even) {
    background-color: #f9fafb; /* Light gray background for even rows */
  }
  
  /* Style the table cells */
  .TableContainer td {
    vertical-align: middle;
    text-align: center;
    padding: 0.9rem;
    border-color: #dee2e6; /* Light gray border color */
  }
  
  /* Style the hover effect */
  tbody tr:hover,
  tbody tr:hover td:hover {
    background-color: #b9c5d8; /* Light blue on hover for the first and selected cells */
  }
  