.container {
  border: 2px solid #ccc; /* Change border color to a lighter shade */
  border-radius: 20px; /* Reduced border-radius for a softer look */
  padding: 20px; /* Increased padding for better spacing */
  width: 85%; /* Adjusted width */
  margin: 20px auto; /* Combined margin properties */
  background-color: #f0f0f0; /* Light gray background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added a subtle shadow for depth */
}

.row1, .row2 {
  color: #333; /* Darkened text color for better readability */
  display: flex;
  justify-content: space-between; /* Changed to space-between for even spacing */
  align-items: center; /* Align items vertically in the center */
  margin-bottom: 10px;
  font-size: 1rem; /* Adjusted font size for better consistency */
}

.row1 {
  font-size: 2rem; /* Increased font size for row1 */
}

.column1, .column2 {
  flex: 1; /* Equal flex for all columns */
  text-align: center;
}

.column1:nth-child(4),
.column1:nth-child(5) {
  flex: 1.4; /* Adjusted flex for the last two columns to allocate more space */
}
.column2:nth-child(4),
.column2:nth-child(5) {
  flex: 1.4; /* Adjusted flex for the last two columns to allocate more space */
}
