/* Cancellation.css */

.heading {
    
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 100px;
  }
  
  .container1 {
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 150px); Adjust as needed based on your layout */
  }
  
  .shadow {
    padding:40px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    max-width: 700px;
    width: 100%;
  }
  
  .btn-info {
    background-color: #5e72e4; /* Change to suit your design */
    border-color: #5e72e4; /* Change to suit your design */
  }
  
  .btn-info:hover {
    background-color: #324cdd; /* Change to suit your design */
    border-color: #324cdd; /* Change to suit your design */
  }
  